svg#circle-lock(width='128px', height='128px', viewbox='0 0 128 128')
  path(fill='#CD9761', d='M122.181,64.321c0,32.435-26.297,58.73-58.732,58.73c-32.436,0-58.731-26.296-58.731-58.73\
      c0-32.437,26.295-58.732,58.731-58.732C95.884,5.589,122.181,31.884,122.181,64.321')
  
  path.lock-open(fill='#545D72', d='M88.226,62.792H79.05V49.331c0-8.602-6.999-15.601-15.601-15.601s-15.6,6.999-15.6,15.601v13.461h-9.177\
      V49.331c0-13.661,11.115-24.777,24.777-24.777c13.664,0,24.777,11.116,24.777,24.777V62.792z')
  path.lock-key(fill='#545D72', d='M63.449,64.321c-4.054,0-7.341,3.286-7.341,7.341c0,2.709,1.485,5.052,3.671,6.323v4.689\
      c0,2.028,1.643,3.67,3.67,3.67c2.03,0,3.671-1.642,3.671-3.67v-4.689c2.186-1.271,3.67-3.614,3.67-6.323\
      C70.79,67.607,67.503,64.321,63.449,64.321')
 
  path(fill='#FFFFFF', d='M90.979,51.473H35.919c-3.042,0-5.507,2.466-5.507,5.506v34.872c0,3.043,2.465,5.506,5.507,5.506h55.061\
      c3.042,0,5.506-2.463,5.506-5.506V56.979C96.485,53.939,94.021,51.473,90.979,51.473 M67.12,77.985v4.689\
      c0,2.027-1.642,3.67-3.671,3.67c-2.028,0-3.67-1.643-3.67-3.67v-4.689c-2.186-1.271-3.671-3.611-3.671-6.323\
      c0-4.055,3.288-7.341,7.341-7.341c4.054,0,7.341,3.286,7.341,7.341C70.79,74.374,69.306,76.714,67.12,77.985')
