section#first-section
	h2#about ABOUT US
	h3 Meet our team
	span.line

	div.description
		p
			|We are a 
			strong small, flexible and active design studio 
			| from Barcelona and we believe that a good web design adds value to a brand. We focus our efforts on communication, user experience and clean design, with 
			strong special attention 
			| to small details.

		div.members
			figure.emilio
				img(src="images/about/emilio.svg", alt="Emilio Rodrigo")
				figcaption
					h4 Emilio Rodrigo

			figure.aitor
				img(src="images/about/aitor.svg", alt="Aitor Herrero")
				figcaption
					h4 Aitor Herrero

	hr