div#cookie
	a.cookie_close(href="javascript:;")
		img(src="images/icons/cancel-circle.svg", alt="close")
	a.cookie_more(href="javascript:;")
		img(src="images/icons/info.svg", alt="more Info")
	a.cookie_more(href="javascript:;", style="display: none")
		img(src="images/icons/info.svg", alt="more Info")
	p This website uses own and third person cookies to offer a better experience and service. When the user navigates or uses our services he accepts our cookie terms.
		

	div#cookie_more_info
		p Anyway, the user has the choice to disable cookies on their browser options.
		p If you do so, and disable cookies on your browser, it is posible that some of this website's services or functions will not work properly.
