footer
	div.footer-content

		p &copy; Copyright W3D Web Design, All Rights Reserved

		p.greetings
			a.underline(href="greetings-en.html") Greetings

		p.donate 
			a.underline(href="https://www.paypal.com/es/cgi-bin/webscr?cmd=_flow&SESSION=JtR8QxIwr6uVZflzZtIhWMX13i5oRxF3jQUU9bqSP61L-904QtojEsXCobC&dispatch=5885d80a13c0db1f8e263663d3faee8d96f000117187ac9edec8a65b311f447e") Donate