section#greetings
	figure
		a(href="index-en.html")
			img(src="images/header/logo.svg", alt="W3D Web Design Studio")

	.back
		a(href="index-en.html") Back

	article
		h2 Greetings
		h3 Thank you for being part of our project
		span.line

		p
			|We are living hard times,
			strong  it was not easy to make the first steps
			|  on our design studio. It is very difficult to start a business on the computer world, the competition between companies is very big.

		p
			|Without the people around us it would have been impossible. We tried our best and dedicate a lot of time to improve and get through all problems we could have, we tried to overcome the challenge every day.

		p
			|First of all, we want to appreciate the help of 
			strong  our families
			|  , the patience they have shown is honourable. They always look at the bright side of things ¡¡ Thank you !!

		p
			|Also we want to be grateful with our
			strong  closest friends
			|  (even tho in some cases they are far away), they always have good words and honest opinions about our project. Thank your for support, we send you all a big hug!!

		p
			|We can't forget about people dedicated to
			strong  the computer and technology world
			| , that uses different media to share their knowledge on a very professional and incredible way, it's amazing what you can learn from all of them, without these people we could have not been what we are, thanks a lot.

		p
			|Also we appreciate a lot those 
			strong  sites that are sharing all types of sources.
			|  Some of them are listed below : Codepen, Github, Freepik, YouTube ... You made the design world a better place!!

		p
			|Last, but not least, we want to
			strong  thank you, our client,
			|  for the trust and faith you give to us; because without you our project is nothing. All our efforts are juto to make you happy.

		
		figure.sign
			img(src="images/sign.svg", alt="W3D Web Design Studio")