section#second-section

	h2#services OUR SERVICES
	h3 What do we offer
	span.line

	div.our-services
		p
			img(src="images/services/responsive.svg", alt="responsive design")
			| Nowadays
			strong  responsive design is a must
			| , we design and build multi-device friendly website, including optimization. 

		p
			img(src="images/services/time.svg", alt="load times")
			|You're special, and we help your audience see why, we design for your target audience so 
			strong users will remember you.

		p
			img(src="images/services/work.svg", alt="personal work")
			strong Every brand is a story.
			|  How do you want yours to be told? We design your website so it will adapt your brand and your clients.

		p
			img(src="images/services/pc.svg", alt="personal computer")
			|We help you to build your
			strong  personal computer
			|  so it can better match your needs, either if you are a designer, devoloper, photographer, etc.

		p
			img(src="images/services/standards.svg", alt="last standards")
			strong Future Proof Design
			| , your site will use the latest web standards (HTML5, CSS3, JavaScript and Vector Graphics) to ensure long life.

		p
			img(src="images/services/modern.svg", alt="flat and modern design")
			|We deliver
			strong  your message
			|  to your clients, and make your brand unique, identificable, and ultimately 
			strong stand out from the crowd.
	