doctype html
html(lang="es")
	head

		include includes/head.jade

	body
		header.error
			
			article
				h1 404
				p 
					|La página que buscas no está disponible o no existe. Creemos que lo mejor es que empiece de nuevo en la
					a(href="index.html")  página de inicio.
					|  Si el problema persiste o no encuentra lo que busca puede contactar con nostros. ¡Muchas gracias! 

				
		figure.logo
			a(href="index.html")
				img(src="images/header/logo.svg", alt="W3D Web Design Studio")