doctype html
html(lang="es")
	head

		include includes/head.jade
		link(rel="alternate", hreflang="cat", href="http://w3ddesign.com/greetings-cat.html")
		link(rel="alternate", hreflang="en", href="http://w3ddesign.com/greetings-en.html")

	body


		include includes/castellano/greetings.jade

		include includes/socket.jade

		include includes/castellano/footer.jade

		include includes/scripts-greetings.jade