doctype html
html(lang="en")
	head

		include includes/head.jade
		link(rel="alternate", hreflang="es", href="http://w3ddesign.com/index.html")
		link(rel="alternate", hreflang="cat", href="http://w3ddesign.com/index-cat.html")

	body

		a.scroll(href="#home", style="display:block")
			span.ir-arriba

		include includes/english/cookies.jade
		
		include includes/english/header.jade

		include includes/english/navbar.jade

		include includes/english/about.jade
	
		include includes/english/services.jade

		include includes/english/responsive.jade

		include includes/english/portfolio.jade

		include includes/english/tools.jade

		include includes/english/laptop-view.jade

		include includes/english/contact.jade

		include includes/socket.jade

		include includes/english/footer.jade

		include includes/scripts.jade