doctype html
html(lang="es")
	head
		include includes/head.jade
		link(rel="alternate", hreflang="cat", href="http://w3ddesign.com/index-cat.html")
		link(rel="alternate", hreflang="en", href="http://w3ddesign.com/index-en.html")

	body

		a.scroll(href="#home", style="display:block")
			span.ir-arriba

		include includes/castellano/cookies.jade
		
		include includes/castellano/header.jade

		include includes/castellano/navbar.jade

		include includes/castellano/about.jade
	
		include includes/castellano/services.jade

		include includes/castellano/responsive.jade

		include includes/castellano/portfolio.jade

		include includes/castellano/tools.jade

		include includes/castellano/laptop-view.jade

		include includes/castellano/contact.jade

		include includes/socket.jade

		include includes/castellano/footer.jade

		include includes/scripts.jade