section#first-section
	h2#about QUIÉNES SOMOS
	h3 Conoce a nuestro equipo
	span.line

	div.description
		p
			|Somos un pequeño estudio de Barcelona. 
			strong Flexible, activo 
			| y que confía en un buen diseño para añadir valor a tu marca. Nuestro principal objetivo es la comunicación y la experiencia de usuario, prestando especial atención a los 
			strong  pequeños detalles.

		div.members
			figure.emilio
				img(src="images/about/emilio.svg", alt="Emilio Rodrigo")
				figcaption
					h4 Emilio Rodrigo

			figure.aitor
				img(src="images/about/aitor.svg", alt="Aitor Herrero")
				figcaption
					h4 Aitor Herrero

	hr
