div#cookie
	a.cookie_close(href="javascript:;")
		img(src="images/icons/cancel-circle.svg", alt="close")
	a.cookie_more(href="javascript:;")
		img(src="images/icons/info.svg", alt="more Info")
	a.cookie_more(href="javascript:;", style="display: none")
		img(src="images/icons/info.svg", alt="more Info")
	p Esta web utiliza cookies propias y de terceros para ofrecerle una mejor experienca y servicio. Al navegar o utilizar nuestros servicios el usuario acepta el uso que hacemos de las cookies.
	

	div#cookie_more_info
		p Sin embargo, el usuario tiene la opción de impedir la generación de cookies y la eliminación de las mismas.
		p En caso de bloquear el uso de cookies en su navegador es posible que algunos servicios o funcionalidades de la página Web no estén disponibles.