section#greetings
	figure.logo
		a(href="index.html")
			img(src="images/header/logo.svg", alt="W3D Web Design Studio")

	.back
		a(href="index.html") Volver

	article
		h2 Agradecimientos
		h3 Gracias por fomar parte de nuestro proyecto
		span.line

		p
			|En los tiempos tan difíciles que estamos viviendo, con la crisis que está afectando a medio mundo, 
			strong  no fue fácil dar los primeros pasos
			|  a la hora de crear un estudio web. Es muy complicado lanzarse en una empresa como la nuestra, donde la competitividad entre los tipos de negocio relacionados con la informática es tremenda.

		p
			|Sin contar con el apoyo de la gente de nuestro alrededor hubiese sido imposible. Hemos dedicado infinidad de horas en pensar la mejor manera de afrontar todas las adversidades que podrían ir surgiendo, en visualizar de la mejor manera el enfoque que queríamos dar a este desafío.

		p
			|En primer lugar, queremos agradecer a
			strong  nuestras familias
			|  el apoyo insuperable, la paciencia que han tenido con nosotros es honorable. Siempre le han dado un enfoque positivo a todas las adversidades que iban surgiendo. ¡¡ Gracias !!

		p
			|También queremos agradecer a 
			strong  nuestras amistades más cercanas
			|  (aunque en algunos casos se encuentren muy lejos de nosotros), que siempre han sabido tener buenas palabras y opiniones muy realistas sobre nuestro proyecto. El tener días malos y poder desahogarse con tus amigos no tiene precio, ¡¡ Desde aquí os mandamos un abrazo a cada uno de vosotros!!

		p
			|No nos podemos olvidar de todas esas
			strong  personas dedicadas al mundo de la informática, 
			|  que han utilizado diversos canales de internet para compartir sus conocimientos de una manera altruista y profesional, es increíble el buen material didáctico del que hemos dispuesto, y que sin él, no hubiésemos aprendido la mitad.

		p
			|Muchas gracias también a esas 
			strong  páginas de internet que prestan sus recursos
			|  (tanto en forma de código como en material gráfico) de una manera muy generosa: Codepen, Github, Freepik, YouTube ... ¡¡ Hacéis del mundo un lugar mejor !!

		p
			|Finalmente, y no por ello menos importante, queremos agradecerte 
			strong  a ti, nuestro cliente, 
			|  el haber depositado tu confianza en nosotros; porque sin tu presencia, nuestro proyecto no sería posible. Todos nuestros esfuerzos siempre han tenido como único objetivo el estar a tu servicio.

		

		figure.sign
			img(src="images/sign.svg", alt="W3D Web Design Studio")