header.landscape-box
	.back-landscape
	.sun
	.logo-big
	.buttons
		a.scroll(href="#portfolio")
			img(src="images/header/portfolio-link.svg", alt="portfolio")
		a.scroll(href="#contact")
			img(src="images/header/contacto-link.svg", alt="contact")
	.fore-landscape
	.first-mountain
	.second-mountain
	.tablet

	#home