section#second-section

	h2#services QUÉ OFRECEMOS
	h3 Nuestros servicios
	span.line

	div.our-services
		p
			img(src="images/services/responsive.svg", alt="responsive design")
			strong Diseño responsivo
			| , hoy en día tu web debe poder verse en todos los dispositivos, por eso todos nuestros productos se adaptarán y estarán optimizados para cualquier pantalla. 

		p
			img(src="images/services/time.svg", alt="load times")
			|Eres especial y te ayudamos a demostrar por qué, diseñamos para tus clientes objetivo, para
			strong  dejar tu huella en ellos.

		p
			img(src="images/services/work.svg", alt="personal work")
			strong Cada marca tiene su historia.
			|  ¿Cómo quieres que la tuya sea contada? Tu web se adaptará a tu marca y a tus clientes.

		p
			img(src="images/services/pc.svg", alt="personal computer")
			|Montamos tu
			strong  ordenador personalizado
			|  en funci&oacute;n de tus necesidades, ya seas dise&ntilde;ador, programador, fotógrafo, etc.

		p
			img(src="images/services/standards.svg", alt="last standards")
			strong Pensamos en el futuro,
			|  nos aseguramos de que tu producto no quede obsoleto, por ello utilizamos los últimos estándares (HTML5, CSS3, JavaScript y Gráficos Vectoriales).

		p
			img(src="images/services/modern.svg", alt="flat and modern design")
			|Transmitimos
			strong   tu mensaje
			|  a los clientes, para que tu marca sea percibida como única, identificable y distinguible del resto.
	