section#first-section
	h2#about QUI SOM
	h3 Coneix el nostre equip
	span.line

	div.description
		p
			|Som un petit estudi de Barcelona. 
			strong Flexible, actiu 
			|  i que confiem en un bon disseny per donar-li valor a la teva empresa. El nostre objectiu és la comunicació i l'experiència d'usuari, tenint cura dels
			strong  petits detalls.

		div.members
			figure.emilio
				a(href="mailto:emilio@w3ddesign.com?subject=Hola!") 
					img(src="images/about/emilio.svg", alt="Emilio Rodrigo")
					figcaption
						h4 Emilio Rodrigo

			figure.aitor
				a(href="mailto:aitor@w3ddesign.com?subject=Hola!") 
					img(src="images/about/aitor.svg", alt="Aitor Herrero")
					figcaption
						h4 Aitor Herrero

	hr
