div#cookie
	a.cookie_close(href="javascript:;")
		img(src="images/icons/cancel-circle.svg", alt="close")
	a.cookie_more(href="javascript:;")
		img(src="images/icons/info.svg", alt="more Info")
	a.cookie_more(href="javascript:;", style="display: none")
		img(src="images/icons/info.svg", alt="more Info")
	p Aquesta pàgina web utilitza cookies pròpies i de tercers per oferir una millor experiència i servei. Al navegar o utilitzar els nostres serveis l'usuari accepta l'ús que fem de les cookies.
		

	div#cookie_more_info
		p Tanmateix, l'usuari té la opció d'impedir la generació de cookies i l'elimació de les mateixes mitjançant les opciones del seu navegador.
		p En cas de bloquejar l'ús de cookies en el seu navegador es possible que alguns serveis o funcions de la pàgina web no estiguin disponibles.
