div.button_container#toggle
	span.top
	span.middle
	span.bottom


div#overlay.overlay
	nav.overlay-menu
		ul
			li.menu-link
				a.scroll(href="#about") Inici
			li.menu-link
				a.scroll(href="#services") Serveis
			li.menu-link
				a.scroll(href="#portfolio") Portfolio
			li.menu-link
				a.scroll(href="#contact") Contacte

	span.bottom-line

	nav.overlay-social
		ul
			li
				a(href="https://www.facebook.com/w3ddesigners")
					include icons/facebook.jade
			li
				a(href="https://twitter.com/w3ddesign")
					include icons/twitter.jade
			li
				a(href="https://www.behance.net/w3ddesign")
					include icons/behance.jade

	div.language
		p
			a(href="index.html") Castellano
		p
			a(href="index-cat.html") Català
		p
			a(href="index-en.html") English

	div.studio-data
		p C/Gomis 33, local 17 &bull; 08760 Martorell (Barcelona)
		p 93-676-64-50 // 646-274-333
		p
			a(href="mailto:info@w3ddesign.com?subject=Hola") info@w3ddesign.com


	figure.logo-menu
		img(src="images/header/logo-menu.svg", alt="W3D Web Design")



