section#second-section

	h2#services QUÈ OFERIM
	h3 Els nostres serveis
	span.line

	div.our-services
		p
			img(src="images/services/responsive.svg", alt="responsive design")
			strong Disseny responsiu
			| , avui en día la teva web s'ha de visualitzar en tots els dispositius, per això els nostres productes s'adapten a tots ells.


		p
			img(src="images/services/time.svg", alt="load times")
			| Ets especial i t'ajudem a demostrar perquè, dissenyem per als teus clients i per ajudar-te a tenir un
			strong  bon reconeixement.
		p
			img(src="images/services/work.svg", alt="personal work")
			strong Totes les marques tenen la seva història.
			|  Com explicaries la teva? El teu lloc web s'adaptarà als teus clients i a la teva història.

		p
			img(src="images/services/pc.svg", alt="personal computer")
			|T'ajudem a montar el teu
			strong  ordinador personalitzat
			|  en funció de les teves necessitats, ja siguis dissenyador, programador, fotògraf, etc.

		p
			img(src="images/services/standards.svg", alt="last standards")
			strong Tenim cura del futur,
			|  ens assegurem de que el teu producte no quedi obsolet, per això fem ús dels últims estàndards(HTML5, CSS3, JavaScript i Gràfics Vectorials).

		p
			img(src="images/services/modern.svg", alt="flat and modern design")
			|Transmetem
			strong  el teu missatge
			|  als clients, perquè la teva marca sigui percebuda com a única, identificable i distingible de la resta.
	